<!DOCTYPE html>
<html>
  <head>
    <title>{% block sub_title '' %}{% block title '' %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/app.css"/>
  </head>
  <body>

  <div class="container">
  {% block body %}

  {% endblock %}
  </div>


  </body>
</html>