{% extends 'layout.html.twig' %}

{% block sub_title 'Drupal table list of the databases origin ' %}
{% block body %}
<h2>Tables list</h2>
<p>-------------------------------------</p>
<div class="tables">
  
  <form action="#" method="post">
    
    {{ form_widget(form) }}
      
  </form>


</div>
{% endblock body %}